body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.top{
    height: 15vh;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:whitesmoke;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.calculator{
    display: flex;
    flex-direction: column;
    height:50vh;
    width: 35vh;
    margin-top: 40px;
    background-color: white;
    border-radius:10px;
}
.down{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}
button{
    width: 38px;
    height: 38px;
    margin: 7px;
    border-radius:100%;
    border: hidden;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.answer{
    height: 50px;
    width: 160px;
    background-color:white;
    border-radius:10%;
}
button:hover{
    box-shadow: none;
    cursor: pointer;
}
.add{
    background-color: greenyellow;
}
.clear{
    background-color:red;
}